tweepy

Official documentation: https://docs.tweepy.org/en/stable/

Ref: https://dev.to/twitterdev/a-comprehensive-guide-for-using-the-twitter-api-v2-using-tweepy-in-python-15d9

In [2]:
!pip install tweepy

Collecting tweepy
  Using cached tweepy-4.12.1-py3-none-any.whl (101 kB)
Collecting requests-oauthlib<2,>=1.2.0
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting oauthlib<4,>=3.2.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     -------------------------------------- 151.7/151.7 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from tweepy) (2.28.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.14)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.2.2 requests-oauthlib-1.3.1 tweepy-4.12.1

In [3]:
import tweepy
import datetime
import pandas as pd
import json
import requests

In [4]:
# Update this variable with YOUR OWN Twitter Bearer Token
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAK4QlQEAAAAALR2CuS1t8%2BSL5VUIS8BZhA61jNI%3DArMOmsZoDiebtzyFOCTmcgwQK6wKQJ099SLHywiAnEwJzCTYOy'

client = tweepy.Client(bearer_token=BEARER_TOKEN, return_type=requests.Response)

In [5]:
'''
Searching for Tweets from the last 7 days

We can use the search_recent_tweets function available in Tweepy.
You will have to pass it a search query to specify the data that you are looking for.

Below, we will search for for Tweets from the last days from the 
Twitter handle realDonaldTrump and we are excluding retweets using -is:retweet.

By default, a request returns 10 Tweets.
If you want more than 10 Tweets per request, you can specify that using the max_results parameter.
The maximum Tweets per request is 100.
'''
# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets1 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            max_results=100)

In [6]:
'''
Convert to pandas Dataframe
'''

# Save data as dictionary
tweets_dict1 = tweets1.json()

# Extract "data" value from dictionary
tweets_data1 = tweets_dict1['data'] 

# Transform to pandas Dataframe
df1 = pd.json_normalize(tweets_data1)

df1

,context_annotations,created_at,text,id,edit_history_tweet_ids
0,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2023-01-19T18:28:21.000Z,happy era https://t.co/SeMnCZuFFL,1616140520920842240,[1616140520920842240]
1,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2023-01-18T19:47:31.000Z,@itss_haleyy Me too! The bribes and bet losing...,1615798058083618823,[1615798058083618823]
2,"[{'domain': {'id': '10', 'name': 'Person', 'de...",2023-01-15T17:23:44.000Z,My twin. Happy 5th Birthday. I really can’t be...,1614674708586430464,[1614674708586430464]

In [ ]:
'''
If you want to get Tweets for a specific time-period, you can specify the time-period
using the start_time and end_time parameters, as shown in the example below:
'''

# Replace with time period of your choice
start_time = '2022-01-15T00:00:00Z'

# Replace with time period of your choice
end_time = '2022-01-16T00:00:00Z'


# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets2 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            start_time=start_time,
            end_time=end_time,
            max_results=100)

'''
Convert to pandas Dataframe
'''

tweets2.json()

In [ ]:
'''
Writing Tweets to a text file

This example shows how you can write the Tweet IDs for each Tweet obtained 
for a search result, to a text file.

Make sure to replace the file_name with the a name of your chosing.

If you wish to write other fields to the text file, make sure to adjust the script below accordingly.
'''

file_name = 'tweets.txt'

df1.to_csv(file_name, index=False, encoding='utf-8')

# If you want a different delimiter, say, tab or '\t'
# You can do:
#    df2.to_csv(file_name, index=False, encoding='utf-8', sep='\t')