snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [4]:
# !pip install snscrape
!pip install pandas
# !python -m ipykernel install --user --name=Python_39
# !pip install notebook --upgrade

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 19.8 MB/s eta 0:00:00
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp39-cp39-win_amd64.whl (14.9 MB)
     --------------------------------------- 14.9/14.9 MB 21.8 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 15.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tranl\anaconda3\envs\py39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.3 pytz-2022.7.1

In [1]:
!python --version

Python 3.9.16

In [5]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter user‚Äôs tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [6]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'KimKardashian'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 10: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

C:\Users\tranl\AppData\Local\Temp\ipykernel_25304\4053890106.py:13: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [7]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2023-01-18 19:47:31+00:00,1615798058083618823,@itss_haleyy Me too! The bribes and bet losing...,KimKardashian
1,2023-01-15 17:23:44+00:00,1614674708586430464,My twin. Happy 5th Birthday. I really can‚Äôt be...,KimKardashian
2,2023-01-10 17:14:33+00:00,1612860460361224193,JUST DROPPED: @SKIMS NEW FITS EVERYBODY BRAS.\...,KimKardashian
3,2023-01-04 04:27:28+00:00,1610493088262414336,‚ô•Ô∏è night! ‚ô•Ô∏è https://t.co/Y7sp7TdPq6,KimKardashian
4,2023-01-02 15:49:27+00:00,1609939939613081602,2023 https://t.co/p9hQcXb66w,KimKardashian
5,2022-12-27 01:48:28+00:00,1607553971069276160,‚ô•Ô∏è https://t.co/pvNTKOBv8y,KimKardashian
6,2022-12-27 01:47:18+00:00,1607553679925862402,‚ô•Ô∏è https://t.co/PludyOqGTd,KimKardashian
7,2022-12-26 18:51:22+00:00,1607449005121802241,Happy Holidays https://t.co/cCO9KSp6S3,KimKardashian
8,2022-12-26 18:51:06+00:00,1607448938189131778,Happy Holidays https://t.co/26fQv9hhnX,KimKardashian
9,2022-12-26 02:44:13+00:00,1607205614584999938,Merry Christmas to all and to all a good night...,KimKardashian
10,2022-12-25 02:44:00+00:00,1606843170788368385,üôãüèª‚Äç‚ôÄÔ∏è https://t.co/kI34ZTihGe,KimKardashian

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [ ]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'SSR Bollywood'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2021-06-14 until:2021-08-31').get_items()):
    if i > 100:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2