snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between Jan 1 2020, and Jan 20 2023,
with the keywords 'sanrio'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [4]:
# Creating list to append tweet data to
tweets_list = []

# search terms
search_terms = 'accident'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' lang:en since:2020-01-01 until:2023-01-20').get_items()):
    if i > 5000:
        break
    #declare the attributes to be returned
    tweets_list.append([tweet.id, tweet.user.username, tweet.date, tweet.content])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Tweet Id', 'Username', 'Datetime', 'Text'])

C:\Users\tranl\AppData\Local\Temp\ipykernel_10900\3662093875.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.id, tweet.user.username, tweet.date, tweet.content])

In [5]:
tweets_df

,Tweet Id,Username,Datetime,Text
0,1616223976317136896,gidakata,2023-01-19 23:59:58+00:00,@TR4NSRACHA oh I always get people by being ve...
1,1616223967303409672,511dfw,2023-01-19 23:59:56+00:00,accident:US-75 southbound I-635/Exit 21 Dalla...
2,1616223966766456833,511DFWDallas,2023-01-19 23:59:56+00:00,accident:US-75 southbound I-635/Exit 21 Dalla...
3,1616223944872452098,drdeepak81,2023-01-19 23:59:51+00:00,@Viswanath507480 Met with an accident around a...
4,1616223939847680001,rabmcmlxxxvii,2023-01-19 23:59:49+00:00,"Makes up a statement about a cause of death, g..."
...,...,...,...,...
4996,1616159847468212225,ShamsaBatool14,2023-01-19 19:45:09+00:00,Tottenham defender Anton Walkes dies aged 25 i...
4997,1616159845396135956,themanof68,2023-01-19 19:45:08+00:00,@KylePorterCBS What if Ben Hogan hadn't gotten...
4998,1616159839779971073,Inugamiz,2023-01-19 19:45:07+00:00,@DineshDSouza No. It was an accident.
4999,1616159837926080512,IssiahBustillos,2023-01-19 19:45:06+00:00,^^ what happens when you try to workout like n...
5000,1616159829097070594,CNN,2023-01-19 19:45:04+00:00,"Anton Walkes, a defender for Major League Socc..."

In [6]:
tweets_df.to_csv("accident.csv",index=False)